<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="NicoConnectionString" connectionString="Data Source=HWNOTE163490\SQLEXPRESS;Initial Catalog=Almacen;Integrated Security=True;Connect Timeout=30;Encrypt=False" />
		<add name="MiltonConnectionString" connectionString="Data Source=DESKTOP-KHKJ2OC;Initial Catalog=Almacen;Integrated Security=True;Connect Timeout=30;Encrypt=False" />
	</connectionStrings>

</configuration>

